body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafd;
    height: 100vh;
    margin: 0;
    padding: 0;
    }

:root {
    --main-gray: #f3f3f3;
    --medium-gray: rgb(196, 196, 196, 0.5);
    --dark-blue: #00189e;
}

#structure_m.container-lg { max-width: 100% !important; }

.container-lg{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 80%;
    justify-content: center;
}

.row {
    grid-column: 1/3;
    grid-row: 1/2;
    flex-direction: column-reverse;
}

.col-3{
    width: 100%;
    height: 550px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.form-container {
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    height: 1000px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
    position: sticky;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.form-container form{
    max-width: 100%;
    max-height: 100%;
}

.form-title {
    max-width: 100%;
    max-height: 100%;
    display: inline-table;
    width: 250px;
}

.form-title h1 {
    font-size: 28px;
    margin: 5px 5px 5px 5px;
    color: var(--dark-blue);
}
.form-title hr{
    border-color: var(--dark-blue);
    margin: 23px 20px 20px 20px;
}


.form-content{
    width: 200px;
    height: 190px;
    max-width: 100%;
    max-height: 100%;
    display: inline-table;
}

.form-content label {
    font-weight: 500;
    margin-bottom: 3px;
}

.form-content input {
    border-color: var(--dark-blue);
    outline: none;
    margin: 0px 5px 10px 5px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    text-indent: 2px;
}

.form-content select{
    border: 2px solid var(--dark-blue);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    width: 142px;
}

.submit-buttons {
    margin: 20px 0px 0px 5px;
}

.submit-buttons button {
    color: var(--dark-blue);
    font-weight: 600;
    border-color: var(--dark-blue);
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    font-size: 13px;
    height: 40px;

}

.submit-buttons button:hover{
    background-color: var(--dark-blue);
    color: #ffff;
}

.submit-buttons .download{
    margin-bottom: 10px;
}

.col-9{
    width: 100%;
    height: 550px;
    grid-row: 1/2;
    grid-column: 2/3;
}

.table-container {
    margin-left: -45px;
    position: absolute;
    height: 550px;
    width: 70%;
    max-width: 100%;
    max-height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #ffff;
    /* border: 1px solid var(--dark-blue); */
    border-radius: 4px;
}

.table-container .index-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;        
    height: 200px;
    width: 450px;
    background-color: var(--main-gray);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.table-container .index-placeholder .placeholder-info {
    text-align: center;
    font-weight: 600;
    width: 410px;
}

.main-table-container {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 98.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* margin-top: 10px; */
    margin-left: 5px;
    margin-right: 15px;
}

.loader-container {
    position: absolute;
    z-index: 2;
    width: 96.5%;
    height: 100%;
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    overflow: hidden;
    /* border: 1px solid; */
}

.loader-container .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
        linear-gradient(0deg, rgba(0, 24, 158, 0.5) 30%, #0000 0 70%, rgb(0, 28, 185) 0) 50%/8% 100%,
        linear-gradient(90deg, rgb(0, 24, 158) 30%, #0000 0 70%, rgb(0, 28, 185) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader-container .loader::before,
  .loader-container .loader::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .main-table-container .loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }

  .top-options {
    font-size: 15px;
    margin: -440px 10px 10px 20px;
    width: 860px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.query-info {
    margin-left: -435px;
    margin-top: 0px;
    height: 100px;
    width: 395px;
    background-color: var(--main-gray);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.query-info p {
    margin: 8px 8px 8px 8px;
    font-weight: 500;
}

.query-info hr {
    margin: 0;
    color: rgb(0 0 0 / 50%);
}

.query-count {
    margin-top: -45px;
    margin-left: 30px;
}

.top-options .view-grouped-table {
    display: flex;
    align-items: center;
    margin-left: 630px;
    margin-top: -101px;
    height: 100px;
    width: 200px;
    background-color: var(--main-gray);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.view-grouped-table p {
    margin: 8px 8px 8px 10px;
    width: 150px;
}

.view-grouped-table img {
    width: 20px;
    height: 20px;
}

.view-grouped-table button {
    border-radius: 4px;
    border-color: var(--dark-blue);
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.table1 {
    margin-top: 35px;
    border-radius: 4px;
    height: 400px;
}

.table1 thead {
    position: sticky;
    top: 0;
    background-color: #ffff;
    z-index: 1;
    border-bottom: 1px solid var(--dark-blue);
    text-align: center;
}

.table1 th {
    font-size: 12px;
    padding-bottom: 10px;
}

.table1 td {
    font-size: 12px;
    padding-left: 14px;
    padding-top: 9px;
    padding-right: 5px;
}

.accordion-container{
    width: 90%;
    height: 90%;
    margin-left: 20px;
    margin-bottom: 95px;
}

.accordion-top {
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 20px;
}

.accordion-title{
    display: flex;
    align-items: center;
    justify-content: center;        
    height: 55px;
    width: 360px;
    background-color: var(--main-gray);
    border-radius: 4px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.accordion-title .team-title {
    margin-top: 5px;
    font-size: 23px;
}

.accordion-top .back-button {
    display: flex;
    align-items: center;
    height: 55px;
    width: 135px;
    background-color: var(--main-gray);
    border-radius: 4px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.accordion-top .back-button .back-info {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.accordion-top .back-button button {
    border-radius: 4px;
    border-color: var(--dark-blue);
    height: 35px;
    width: 45px;
    margin-left: 12px;
}

.accordion-top .back-button img {
    margin-top: -12px;
    width: 25px;
    height: 25px;
}

.accordion {
    font-size: 13px;
    margin-bottom: 40px;
    margin-top: 21px;
}

.accordion button {
    height: 40px;
}

.accordion button .each-counter {
    color: var(--dark-blue);
    margin: -3px 0px 0px 5px;
    font-weight: 500;
}

.accordion .accordion-item h1 {
    font-size: 15px;
}

.accordion .accordion-body .table2 {

    font-size: 12px;
    margin-left: -5px;
    margin-top: -10px;
}

.table2 thead{
    border-bottom: 1px solid var(--dark-blue);
}

.table2 th {
    padding: 8px;
    height: 40px;
}

.table2 .cierre{
    width: 30px;
}

.table2 .direccion {
    width: 170px;
}

.table2 td {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 12px;
}

.table3{
    margin-top: 31px;
    border-radius: 4px;
    height: 400px;
}

.table3 thead {
    position: sticky;
    top: 0;
    background-color: #ffff;
    z-index: 1;
    border-bottom: 1px solid var(--dark-blue);
}

.table3 th {
    font-size: 12px;
    padding: 5px;
    height: 40px;
    padding-bottom: 10px;
}

.table3 .cierre{
    width: 30px;
}

.table3 .direccion {
    width: 160px;
}

.table3 td {
    padding-left: 7px;
    font-size: 12px;
    padding-top: 10px;
    padding-right: 4px;
}

.top-options2 {
    font-size: 15px;
    width: 820px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    margin-left: 0px;
}

.query-info2 {
    margin-left: -495px;
    margin-top: -50px;
    height: 100px;
    width: 323px;
    background-color: var(--main-gray);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.query-info2 p {
    margin: 15px 10px 10px 15px;
    width: 240px;
    font-weight: 500;
}

.query-info2 hr {
    margin: 0;
    color: rgb(0 0 0 / 50%);
    width: 229px;
}


.department-count{
    width: 204px;
}

.totalcount{
    width: 150px;
    margin-left: 210px;
    margin-top: -65px;
}

.totalcount p {
    margin-top: -14px;
    margin-left: 32px;
}

.totalcount .vertical {
    transform: rotate(90deg);
    width: 99px;
    margin-left: -30px;
    margin-top: 28px;
    color: rgb(0 0 0 / 50%);
}

.top-options2 .view-grouped-table2 {
    display: flex;
    align-items: center;
    margin-left: 630px;
    margin-top: -69px;
    height: 100px;
    width: 200px;
    background-color: var(--main-gray);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--medium-gray);
}

.view-grouped-table2 p {
    margin: 8px 8px 8px 10px;
    width: 150px;
}

.view-grouped-table2 img {
    width: 20px;
    height: 20px;
}

.view-grouped-table2 button {
    border-radius: 4px;
    border-color: var(--dark-blue);
    height: 50px;
    width: 50px;
    margin-right: 15px;
}





