<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /produccion-EyC-deploy/public/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /produccion-EyC-deploy/public/index.html [L]
</IfModule>